.contact-form {
    text-align: center;
  }
  
  .contact-form h4 {
    margin-bottom: 20px;
  }
  
  .form-field {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .form-field label {
    display: block;
    margin-bottom: 15px;
  }
  
  .form-field input,
  .form-field textarea {
    width: 100%;
    padding: 20px;
  }
  
  .error-message {
    color: red;
    display: block;
    margin-top: 15px;
  }
  
  button[type="submit"] {
    background-color: gray;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }